body {
    background-color: rgb(245, 241, 6);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.text--primary, .text--primary-hover:hover, body {
    color: #383838 !important;
}

html, body, p, span, .field__label, .field__input, .field__textarea, .field__select {
    font-family: 'Lato', sans-serif;
}
body {
    margin: 0;
}
input{
    color: rgb(255, 0, 0);
}
label{
    color: rgb(5, 4, 4);
}
p{
    color: rgb(4, 7, 7);
}
